

<!-- <header>
<nav>
    <ul>
        <li><a onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='green'" href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Terms of use</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
</header> -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/page1">Page 1 <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/page1">Page 1 <span class="sr-only">(current)</span></a>

    </div>
  </div>
</nav> -->

<div class="body Header-Logo well">
    <h1 class="logo">
      <span class="word1">Tours </span>
      <!-- <span class="word3"> & </span> -->
      <span class="word2">Travles</span>
    </h1>
    <p class="gap"><a href="http://www.hacknightslc.com/">Tours & Travel</a> is sponsored by <a href="http://www.theleonardo.org/">The Airbnb.</a> <small>So I recreated their logo with CSS.</small></p>
    
    </div>
