
<app-header></app-header>
<app-navbar></app-navbar>
<body class="w3-light-grey w3-content" style="max-width:1600px">


  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px">

      <!-- Push down content on small screens -->
      <div class="w3-hide-large" style="margin-top:83px"></div>

      
      <!-- About section -->
      <div class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="about">
          <h4><b>Welcome, Your Flight is one step away to be booked!!</b></h4>
          <!--            <img src="/w3images/avatar_hat.jpg" alt="Me" class="w3-image w3-padding-32" width="600" height="650">-->
          <div class="w3-content w3-justify" style="max-width:600px">
              <!--                <h4>My Name</h4>-->
              <br/>
              <br/>
              <p>Please click on Pay pal link for payment.
              </p>

              <h2 *ngIf="paypalLoad">Paypal button is loading</h2>
              <div id="paypal-checkout-btn"></div>

             
          </div>
      </div>

  

      <!-- Footer -->
      <footer class="w3-container w3-padding-32 w3-grey">
          <div class="w3-row-padding">
             

              <div class="w3-third">
                  <h3>POPULAR TAGS</h3>
                  <p>
                      <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">London</span>
                      <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">DIY</span>
                      <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Family</span>
                      <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Shopping</span>
                      <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Games</span>
                  </p>
              </div>
          </div>
      </footer>

  </div>
</body>
