<app-header></app-header>
<app-navbar></app-navbar>
<div class="container-fluid">
  <h1 class="center"> Your favourite Restaurants!!!</h1>
  <br>
<h1> Restaurants in Boston </h1>
<div class="row">
  <div class="card-deck">
    <div class="card mb-auto">
      <a href="https://www.airbnb.com/things-to-do/places/116417">
      <img class="card-img-top" src="assets/r1.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title center">L & E Oyester Bar</h4>
        <p class="card-text center">Seasonal Sea Food</p>
        <p class="card-text"><small class="text-muted"><button class="btn btn-info center">Explore</button></small></p>
      </div>
    </a>
    </div>
    <div class="card">
      <a href="https://www.airbnb.com/things-to-do/places/1647283">
      <img class="card-img-top" src="assets/r2.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title center">The Smpke Shop BBQ</h4>
        <p class="card-text center">American BBQ</p>
        <p class="card-text "><small class="text-muted"><button class="btn btn-info center">Explore</button></small></p>
      </div>
    </a>
    </div>
    <div class="card">
      <a href="https://www.airbnb.com/things-to-do/places/2009464">
      <img class="card-img-top" src="assets/r3.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title center">Pagu</h4>
        <p class="card-text center">Japanese Small Plates</p>
        <p class="card-text "><small class="text-muted"><button class="btn btn-info center">Explore</button></small></p>
      </div>
    </a>
    </div>
  </div>
</div>
 <br><hr>
<h1> Restaurants in NewYork </h1>
<div class="row">
  <div class="card-deck">
    <div class="card">
      <a href="https://www.airbnb.com/things-to-do/places/23133">
      <img class="card-img-top" src="assets/r4.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title center">Red Rooster</h4>
        <p class="card-text center">Southern/soul food Restaurants</p>
        <p class="card-text"><small class="text-muted"><button class="btn btn-info center">Explore</button></small></p>
      </div>
    </a>
    </div>
    <div class="card">
      <a href="https://www.airbnb.com/things-to-do/places/21195">
      <img class="card-img-top" src="assets/r5.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title center">Diner</h4>
        <p class="card-text center">American</p>
        <p class="card-text"><small class="text-muted"><button class="btn btn-info center">Explore</button></small></p>
      </div>
    </a>
    </div>
    <div class="card">
      <a href="https://www.airbnb.com/things-to-do/places/20469">
      <img class="card-img-top" src="assets/r6.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title center">New Amrican</h4>
        <p class="card-text center">The Square Kitchen</p>
        <p class="card-text"><small class="text-muted"><button class="btn btn-info center">Explore</button></small></p>
      </div>
    </a>
    </div>
  </div>
</div>

<br><hr>
<h1> Restaurants in Washington </h1>
<div class="row">
  <div class="card-deck">
    <div class="card">
      <a href="https://www.airbnb.com/things-to-do/places/20469">
      <img class="card-img-top" src="assets/r10.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title center">Eataly NYC Flatiron</h4>
        <p class="card-text center">Gourmet Shop</p>
        <p class="card-text"><small class="text-muted"><button class="btn btn-info center">Explore</button></small></p>
      </div>
    </a>
    </div>
    <div class="card">
      <a href="https://www.airbnb.com/things-to-do/places/176944">
      <img class="card-img-top" src="assets/r8.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title center">Harlem Public</h4>
        <p class="card-text center">Bar</p>
        <p class="card-text"><small class="text-muted"><button class="btn btn-info center">Explore</button></small></p>
      </div>
    </a>
    </div>
    <div class="card">
      <a href="https://www.airbnb.com/things-to-do/places/315717">
      <img class="card-img-top" src="assets/r9.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title center">Redrocks H Street</h4>
        <p class="card-text center">Italian Pizzeria</p>
        <p class="card-text"><small class="text-muted"><button class="btn btn-info center">Explore</button></small></p>
      </div>
    </a>
    </div>
  </div>
</div>

<br><hr>
<h1> Restaurants in California </h1>


<div class="row">
  <div class="card-deck">
    <div class="card">
      <a href="https://www.airbnb.com/things-to-do/places/20595">
      <img class="card-img-top" src="assets/r1.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title center">Nopa</h4>
        <p class="card-text center">New American Restaurant</p>
        <p class="card-text"><small class="text-muted"><button class="btn btn-info center">Explore</button></small></p>
      </div>
    </a>
    </div>
    <div class="card">
      <a href="https://www.airbnb.com/things-to-do/places/22845">
      <img class="card-img-top" src="assets/r2.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">La Taqueria</h4>
        <p class="card-text">Mexican Grill</p>
        <p class="card-text"><small class="text-muted"><button class="btn btn-info">Explore</button></small></p>
      </div>
    </a>
    </div>
    <div class="card">
      <a href="https://www.airbnb.com/things-to-do/places/38063">
      <img class="card-img-top" src="assets/r3.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title center">Cliff House</h4>
        <p class="card-text center">American Restaurant</p>
        <p class="card-text"><small class="text-muted"><button class="btn btn-info center center">Explore</button></small></p>
      </div>
    
  </a>
  </div>
</div>

<br><hr>
<h1> Restaurants in Moscow </h1>
<div class="row">
  <div class="card-deck">
    <div class="card">
      <a href="https://www.airbnb.com/things-to-do/places/38063">
      <img class="card-img-top" src="assets/r8.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title center">The Harvest vine</h4>
        <p class="card-text center">Spanish Tapas</p>
        <p class="card-text"><small class="text-muted"><button class="btn btn-info center">Explore</button></small></p>
      </div>
    </a>
    </div>
    <div class="card">
      <a href="https://www.airbnb.com/things-to-do/places/38063">
      <img class="card-img-top" src="assets/r9.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title center">Italian Comfort</h4>
        <p class="card-text center">Posto</p>
        <p class="card-text center"><small class="text-muted"><button class="btn btn-info center">Explore</button></small></p>
      </div>
    </a>
    </div>
    <div class="card">
      <a href="https://www.airbnb.com/things-to-do/places/38063">
      <img class="card-img-top" src="assets/r10.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title center">New Amrican</h4>
        <p class="card-text center">The Square Kitchen</p>
        <p class="card-text center"><small class="text-muted"><a></a><button class="btn btn-info center">Explore</button></small></p>
      </div>
      </a>
    </div>
  </div>
</div>
<br><hr>
&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-info" (click)="back()">Back</button>
</div>